.item {
  width: 100%;
  max-width: 361px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: stretch;
  box-sizing: border-box;
  max-width: 100%;
}

.recipeCounter {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .list {
    max-width: 768px;
  }

  .item {
    max-width: 339px;
  }
}

@media (min-width: 1440px) {
  .list {
    max-width: 1440px;
  }

  .item {
    max-width: 288px;
  }
}
