.filtersSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.count {
  font-weight: 600;
  font-size: 18px;
  display: inline-flex;
  gap: 4px;
}

.filtersToggle {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  font-size: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--black);
}

.icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--black);
  stroke-width: 1.5;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: var(--white);
  border-radius: 16px;
  padding: 16px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  font-size: 16px;
  font-weight: 600;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.closeBtn svg {
  width: 24px;
  height: 24px;
  stroke: var(--black);
  fill: none;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.desktopFilters {
  display: none;
}

.filtersWrapper {
  display: flex;
  align-items: center;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 24px;
}

.reset {
  font-size: 13px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--black);
  position: relative;
  display: block;
  text-align: left;
  padding: 0;
  padding-bottom: 4px;
  width: fit-content;
}

.reset::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black);
}

@media (min-width: 768px) {
  .count {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .desktopFilters {
    display: block;
  }

  .filtersToggle {
    display: none;
  }
}
